@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;800&display=swap');

.nav-link:hover{
    color:hsl(26, 100%, 55%);
}

.main-image{
    width: 435px;
    height: 400px;
}
.display-5{
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    font-weight: 600;
}

p{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    text-transform: uppercase;
}
h4{
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    font-size: 30px;
}

.btn-add{
    background-image: url(./images/icon-cart\ copy.svg);
    background-repeat: no-repeat ;
    background-position: 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: hsl(26, 100%, 55%);;
}
#prUm:hover{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}
#prDois:hover{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}
#prTres:hover{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}
#prQuatro:hover{
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}
